<content data-show="start-view">
	<div class="green top"></div>
	<div class="green bottom"></div>
	<canvas class="fx-layer"></canvas>

	<div class="start-view" data-area="start">
		<div class="logo">
			<svg><use xlink:href="#dropd-logo"></use></svg>
			<span class="jewel"></span>
			<svg><use xlink:href="#m-logo"></use></svg>
		</div>

		<div class="tutorial">
			<div class="bg"></div>
			<span class="tile orange-2" style="--x: 1; --y: 3;"></span>
			<span class="tile blue-1" style="--x: 0; --y: 4;"></span>
			<span class="tile red-3" style="--x: 1; --y: 4;"></span>
			<span class="tile purple-2" style="--x: 6; --y: 4;"></span>
			<div class="hand"></div>
		</div>

		<div class="options">
			<span class="button off" data-click="toggle-music">
				<i class="icon-music"></i>
			</span>
			<span class="button" data-click="toggle-sound-fx">
				<i class="icon-sound"></i>
			</span>
		</div>
	</div>

	<div class="game-view" data-area="game">
		<div class="scores">
			<i class="icon-champion"></i>
			<div class="best"><span>0</span></div>
			<div class="score"><span>0</span></div>
			<span class="button" data-click="output-arena">
				<i class="icon-pause"></i>
			</span>
		</div>
		<div class="board">
			<span class="columns hidden"></span>
			<span class="points">&#160;</span>
			<div class="wrapper">
				<div class="rows"></div>
			</div>
		</div>
		<div class="preview">
			<!-- preview tiles goes here -->
		</div>
	</div>
</content>
