<content>
	<div class="game-view">
		<div class="green top"></div>
		<div class="scores">
			<div class="best">1462</div>
			<div class="score">512</div>
		</div>
		<div class="board">
			<span class="hover" style="--x: 2; --w: 4;"></span>

			<span class="tile blue-4" style="--x: 2; --y: 4;"></span>
			<!--
			<span class="tile green-4" style="--x: 4; --y: 0;"></span>

			<span class="tile red-4" style="--x: 0; --y: 1;"></span>
			<span class="tile purple-4" style="--x: 4; --y: 1;"></span>

			<span class="tile orange-4" style="--x: 0; --y: 2;"></span>
			<span class="tile rainbow-4" style="--x: 4; --y: 2;"></span>

			<span class="tile blue-3" style="--x: 0; --y: 3;"></span>
			<span class="tile green-3" style="--x: 3; --y: 3;"></span>

			<span class="tile red-3" style="--x: 0; --y: 4;"></span>
			<span class="tile purple-3" style="--x: 3; --y: 4;"></span>

			<span class="tile orange-3" style="--x: 0; --y: 5;"></span>
			<span class="tile rainbow-3" style="--x: 3; --y: 5;"></span>

			<span class="tile blue-2" style="--x: 0; --y: 6;"></span>
			<span class="tile green-2" style="--x: 2; --y: 6;"></span>
			<span class="tile red-2" style="--x: 4; --y: 6;"></span>
			<span class="tile purple-2" style="--x: 6; --y: 6;"></span>

			<span class="tile orange-2" style="--x: 0; --y: 7;"></span>
			<span class="tile rainbow-2" style="--x: 2; --y: 7;"></span>

			<span class="tile blue-1" style="--x: 0; --y: 8;"></span>
			<span class="tile green-1" style="--x: 1; --y: 8;"></span>
			<span class="tile red-1" style="--x: 2; --y: 8;"></span>
			<span class="tile purple-1" style="--x: 3; --y: 9;"></span>
			<span class="tile orange-1" style="--x: 4; --y: 9;"></span>
			<span class="tile rainbow-1" style="--x: 5; --y: 8;"></span>
			-->
		</div>
		<div class="preview">
			<span class="t1" style="--x: 0;"></span>
			<span class="t2" style="--x: 1;"></span>
			<span class="t4" style="--x: 4;"></span>
		</div>
		<div class="green bottom"></div>
	</div>
</content>
