<content>
	<div class="game-view">
		<div class="green top"></div>
		<div class="scores"></div>
		<div class="board">
			<span class="tile blue-4" style="--x: 0; --y: 0"></span>
			<span class="tile rainbow-4" style="--x: 4; --y: 0"></span>
			<span class="tile green-4" style="--x: 0; --y: 1"></span>
			<span class="tile red-4" style="--x: 4; --y: 1"></span>
			<span class="tile purple-4" style="--x: 0; --y: 2"></span>
			<span class="tile orange-4" style="--x: 4; --y: 2"></span>

			<span class="tile blue-3" style="--x: 0; --y: 3"></span>
			<span class="tile rainbow-3" style="--x: 3; --y: 3"></span>
			
		</div>
		<div class="preview"></div>
		<div class="green bottom"></div>
	</div>
</content>
