
background: transparent;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Racing Sans One", sans-serif;

	&.cover {
		&:before {
			content: "";
			background: transparent;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			cursor: none;
		}
	}

	.game-view {
		background: #222 url(~/img/tile.webp);
		background-size: 23%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.green {
			background: url(~/img/leafs.webp) 41% 50%/cover no-repeat;
			position: absolute;
			left: 0;
			right: 0;
			height: 113px;
			pointer-events: none;
			z-index: 2;

			&.top {
				top: 0;
				transform: rotate(180deg);
			}

			&.bottom {
				bottom: 0;
			}
		}

		.scores {
			position: absolute;
			top: 73px;
			left: 23px;
			right: 23px;
			height: 83px;
			font-size: 34px;
			color: #feeb46;
			text-shadow: 0 2px 3px rgba(#000,.65);

			&:before {
				content: "";
				background: url(~/img/score.webp) 0 0/contain no-repeat;
				position: absolute;
				top: -9px;
				left: -6px;
				width: 462px;
				height: 89px;
				border-radius: 9px;
				box-shadow: 0 0 3px rgba(#000,.65);
			}

			> div {
				&:before {
					content: "";
					position: absolute;
					top: -2px;
					left: -2px;
					right: -2px;
					bottom: -2px;
					border: 4px solid #ebbc18;
					border-radius: inherit;
					box-shadow: 0 2px 5px rgba(#000,.65),
								inset 0 0 5px rgba(#000,.35);
				}

				&:after {
					content: "";
					position: absolute;
					top: -2px;
					left: -2px;
					right: -2px;
					bottom: -3px;
					border-radius: inherit;
					border-top: 1px solid #cdbf52;
					border-bottom: 1px solid #75420d;
				}

				&.best {
					background: linear-gradient(0deg, #1c3f1e, #245746, #1e3c34);
					position: absolute;
					top: 11px;
					left: 31px;
					width: 179px;
					height: 47px;
					text-align: right;
					padding: 6px 37px 0 0;
					border-radius: 7px;
				}

				&.score {
					background: linear-gradient(0deg, #413158, #563c6b, #413158);
					position: absolute;
					top: 11px;
					right: 81px;
					width: 139px;
					height: 47px;
					padding-top: 6px;
					text-align: center;
					border-radius: 7px;
					box-shadow: 0 2px 5px rgba(#000,.65),
								inset 0 0 5px rgba(#000,.35);
				}
			}
		}

		.board {
			position: absolute;
			top: 167px;
			left: 23px;
			right: 23px;
			height: 556px;

			&:before {
				content: "";
				background: url(~/img/frame.webp) 0 0/contain no-repeat;
				position: absolute;
				top: -7px;
				left: -7px;
				width: 464px;
				height: 572px;
				border-radius: 9px;
				box-shadow: 0 0 3px rgba(#000,.65);
				z-index: 1;
				pointer-events: none;
			}

			&:after {
				content: "";
				background: url(~/img/block.webp);
				background-size: 55px;
				position: absolute;
				top: 3px;
				left: 5px;
				width: 440px;
				height: 550px;
				z-index: 1;
				pointer-events: none;
			}

			.columns {
				background: rgba(#fff,.2);
				position: absolute;
				top: 4px;
				bottom: 3px;
				left: calc( calc( var( --x ) * 55px ) + 5px );
				width: calc( var( --w ) * 55px );
				z-index: 2;
				mix-blend-mode: soft-light;
				pointer-events: none;

				&.hidden {
					display: none;
				}
			}

			.tile {
				background: 50% 50%/contain no-repeat;
				position: absolute;
				top: calc( calc( var( --y ) * 55px ) + 4px );
				left: calc( calc( var( --x ) * 55px ) + 5px );
				height: 54px;
				border-radius: 4px;
				z-index: 3;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 1px solid #830;
					border-top-color: #fb0;
					border-radius: inherit;
				}

				// &:after,
				&.dragged {
					z-index: 4;

					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 1px;
						right: 1px;
						bottom: 0;
						border-radius: inherit;
						box-shadow: 0 0 1px 2px rgba(#fff,.85),
									0 0 11px rgba(#ddf,.75),
									0 0 19px rgba(#aaf,.85),
									0 0 29px rgba(#88f,.9);
					}
				}

				&.blue-4    { width: 219px; background-image: url(~/icons/blue-4.png); }
				&.green-4   { width: 219px; background-image: url(~/icons/green-4.png); }
				&.red-4     { width: 219px; background-image: url(~/icons/red-4.png); }
				&.purple-4  { width: 219px; background-image: url(~/icons/purple-4.png); }
				&.orange-4  { width: 219px; background-image: url(~/icons/orange-4.png); }
				&.colors-4  { width: 219px; background-image: url(~/icons/colors-4.png); }

				&.blue-3    { width: 164px; background-image: url(~/icons/blue-3.png); }
				&.green-3   { width: 164px; background-image: url(~/icons/green-3.png); }
				&.red-3     { width: 164px; background-image: url(~/icons/red-3.png); }
				&.purple-3  { width: 164px; background-image: url(~/icons/purple-3.png); }
				&.orange-3  { width: 164px; background-image: url(~/icons/orange-3.png); }
				&.colors-3  { width: 164px; background-image: url(~/icons/colors-3.png); }

				&.blue-2    { width: 109px; background-image: url(~/icons/blue-2.png); }
				&.green-2   { width: 109px; background-image: url(~/icons/green-2.png); }
				&.red-2     { width: 109px; background-image: url(~/icons/red-2.png); }
				&.purple-2  { width: 109px; background-image: url(~/icons/purple-2.png); }
				&.orange-2  { width: 109px; background-image: url(~/icons/orange-2.png); }
				&.colors-2  { width: 109px; background-image: url(~/icons/colors-2.png); }

				&.blue-1    { width: 54px; background-image: url(~/icons/blue-1.png); }
				&.green-1   { width: 54px; background-image: url(~/icons/green-1.png); }
				&.red-1     { width: 54px; background-image: url(~/icons/red-1.png); }
				&.purple-1  { width: 54px; background-image: url(~/icons/purple-1.png); }
				&.orange-1  { width: 54px; background-image: url(~/icons/orange-1.png); }
				&.colors-1  { width: 54px; background-image: url(~/icons/colors-1.png); }
			}
		}

		.preview {
			position: absolute;
			bottom: 73px;
			left: 23px;
			right: 23px;
			height: 31px;

			&:before {
				content: "";
				background: url(~/img/preview.webp) 0 0/contain no-repeat;
				position: absolute;
				top: -7px;
				left: -7px;
				width: 460px;
				height: 39px;
				border-radius: 9px;
				box-shadow: 0 0 3px rgba(#000,.65);
			}

			span {
				position: absolute;
				top: 7px;
				left: calc( calc( var( --x ) * 55px ) + 4px );

				&:before {
					content: "";
					background: #3e2d3d;
					position: absolute;
					top: 0;
					left: 1px;
					right: 1px;
					height: 10px;
					border-radius: 10px;
				}

				&.t4 { width: 219px; }
				&.t3 { width: 164px; }
				&.t2 { width: 109px; }
				&.t1 { width: 54px; }
			}
		}
	}
}


/* latin */
@font-face {
	font-family: 'Racing Sans One';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/racing-sans-one.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

