
background: transparent;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.game-view {
		background: #222 url(~/img/tile.webp);
		background-size: 23%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.green {
			background: url(~/img/leafs.webp) 41% 50%/cover no-repeat;
			position: absolute;
			left: 0;
			right: 0;
			height: 113px;
			z-index: 2;

			&.top {
				top: 0;
				transform: rotate(180deg);
			}

			&.bottom {
				bottom: 0;
			}
		}

		.scores {
			background: rgba(#000,.35);
			position: absolute;
			top: 79px;
			left: 23px;
			right: 23px;
			height: 83px;
			border-radius: 7px;
		}

		.board {
			background: rgba(#000,.75);
			position: absolute;
			top: 173px;
			left: 23px;
			right: 23px;
			height: 505px;
			border-radius: 7px;

			&:before {
				content: "";
				background: url(~/img/block.png);
				background-size: 55px;
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
			}

			.tile {
				background: 50% 50%/contain no-repeat;
				position: absolute;
				top: calc( calc( var( --y ) * 55px ) + 6px );
				left: calc( calc( var( --x ) * 55px ) + 6px );
				height: 54px;
				border-radius: 4px;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 1px solid #830;
					border-top-color: #fb0;
					border-radius: inherit;
				}

				&.blue-4    { width: 219px; background-image: url(~/icons/blue-4.png); }
				&.green-4   { width: 219px; background-image: url(~/icons/green-4.png); }
				&.red-4     { width: 219px; background-image: url(~/icons/red-4.png); }
				&.purple-4  { width: 219px; background-image: url(~/icons/purple-4.png); }
				&.orange-4  { width: 219px; background-image: url(~/icons/orange-4.png); }
				&.rainbow-4 { width: 219px; background-image: url(~/icons/rainbow-4.png); }

				&.blue-3    { width: 164px; background-image: url(~/icons/blue-3.png); }
				&.green-3   { width: 164px; background-image: url(~/icons/green-3.png); }
				&.red-3     { width: 164px; background-image: url(~/icons/red-3.png); }
				&.purple-3  { width: 164px; background-image: url(~/icons/purple-3.png); }
				&.orange-3  { width: 164px; background-image: url(~/icons/orange-3.png); }
				&.rainbow-3 { width: 164px; background-image: url(~/icons/rainbow-3.png); }

				&.blue-2    { width: 109px; background-image: url(~/icons/blue-2.png); }
				&.green-2   { width: 109px; background-image: url(~/icons/green-2.png); }
				&.red-2     { width: 109px; background-image: url(~/icons/red-2.png); }
				&.purple-2  { width: 109px; background-image: url(~/icons/purple-2.png); }
				&.orange-2  { width: 109px; background-image: url(~/icons/orange-2.png); }
				&.rainbow-2 { width: 109px; background-image: url(~/icons/rainbow-2.png); }

				&.blue-1    { width: 54px; background-image: url(~/icons/blue-1.png); }
				&.green-1   { width: 54px; background-image: url(~/icons/green-1.png); }
				&.red-1     { width: 54px; background-image: url(~/icons/red-1.png); }
				&.purple-1  { width: 54px; background-image: url(~/icons/purple-1.png); }
				&.orange-1  { width: 54px; background-image: url(~/icons/orange-1.png); }
				&.rainbow-1 { width: 54px; background-image: url(~/icons/rainbow-1.png); }
			}
		}

		.preview {
			background: rgba(#000,.35);
			position: absolute;
			bottom: 83px;
			left: 21px;
			right: 21px;
			height: 31px;
			border-radius: 17px;

			span {
				background: #444;
				position: absolute;
				top: 9px;
				left: calc( calc( var( --x ) * 55px ) + 8px );
				height: 13px;
				border-radius: 13px;

				&.t4 { width: 219px; }
				&.t3 { width: 164px; }
				&.t2 { width: 109px; }
				&.t1 { width: 54px; }
			}
		}
	}
}
