
background: transparent;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.game-view {
		background: #222 url(~/img/tile.webp);
		background-size: 23%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.green {
			background: url(~/img/leafs.webp) 31% 50%/cover no-repeat;
			position: absolute;
			left: 0;
			right: 0;
			height: 113px;
			z-index: 2;

			&.top {
				top: 0;
				transform: rotate(180deg);
			}

			&.bottom {
				bottom: 0;
			}
		}

		.scores {
			background: rgba(#000,.35);
			position: absolute;
			top: 79px;
			left: 29px;
			right: 29px;
			height: 83px;
			border-radius: 7px;
		}

		.board {
			background: rgba(#000,.35);
			position: absolute;
			top: 173px;
			left: 29px;
			right: 29px;
			height: 507px;
			border-radius: 7px;

			.tile {
				background-image: url(~/img/elements.webp);
				background-size: 504px;
				border-radius: 5px;
				position: absolute;
				top: calc( calc( var( --y ) * 62px ) + 3px );
				left: calc( calc( var( --x ) * 62px ) + 3px );

				&.blue-4    { width: 245px; height: 62px; background-position: 0px 0px;  }
				&.rainbow-4 { width: 245px; height: 62px; background-position: -247px 0px;  }
				&.green-4   { width: 245px; height: 62px; background-position: 0px -62px;  }
				&.red-4     { width: 245px; height: 62px; background-position: -247px -62px;  }
				&.purple-4  { width: 245px; height: 62px; background-position: 0px -124px;  }
				&.orange-4  { width: 245px; height: 62px; background-position: -247px -124px;  }

				&.blue-3    { width: 184px; height: 62px; background-position: 0px -186px;  }
				&.rainbow-3 { width: 184px; height: 62px; background-position: -186px -186px;  }
			}
		}

		.preview {
			background: rgba(#000,.35);
			position: absolute;
			bottom: 79px;
			left: 29px;
			right: 29px;
			height: 31px;
			border-radius: 7px;
		}
	}
}
