
[data-mobile="true"] {
	[data-id="dropdom"] {
		.win-body_ content {
			.fx-layer {

			}

			.start-view {
				.logo {
					width: 408px;

					.jewel {
						left: 259px;
					}
				}

				.tutorial {
					left: 21px;
				}
			}

			.game-view {
				.scores {
					left: 11px;
					right: 11px;

					&:before {
						height: 78px;
					}

					i.icon-champion {
						top: 0;
						left: 13px;
					}

					> div {
						&.best {
							top: 8px;
							left: 15px;
							width: 161px;
							height: 42px;
							padding: 3px 19px 0 0;
						}

						&.score {
							top: 8px;
							right: 91px;
							width: 113px;
							height: 42px;
							padding-top: 3px;
						}
					}

					span.button {
						width: 73px;
						height: 51px;
						top: 3px;
						right: 9px;

						&:before {
							background-size: 73px 51px;
						}

						i[class^="icon-"],
						i[class*="icon-"] {
							top: 13px;
							left: 23px;
							width: 29px;
							height: 27px;
						}
					}
				}
			}
		}
	}
}
